<div class="chat-container">
    <div class="chat-messages">
        <div class="grid max-w-5xl w-full mx-auto">
            <!-- Mensaje introductorio -->
            <div class="fade-in">
                <app-chat-message
                    [text]="'Sube una imagen con tu problema matemático y descríbelo brevemente para obtener una solución detallada'"
                />
            </div>

            <!-- Chat Messages -->
            @for (msg of messages(); track $index) {
            <div class="fade-in">
                @if (msg.isGpt) {
                <app-message-math [infoGpt]="msg.infoGpt!" />
                } @else {
                <app-my-message [text]="msg.infoUser!.text!" [infoUser]="msg.infoUser!" />
                }
            </div>
            }

            <!-- Loading -->
            @if (isLoading()) {
            <div class="fade-in">
                <app-typing-loader />
            </div>
            }
        </div>
    </div>

    <!-- Message Box -->
    <div class="max-w-5xl w-full mx-auto px-2 sm:px-4">
        <app-text-message-box-file (onMessage)="handleMessage($event)" [placeholder]="'Describe tu problema matemático...'">
        </app-text-message-box-file>
    </div>

    <!-- <app-text-message-box-select
        (onMessage)="handleMessage($event)"
        [options]="[
            { id: '1', text: 'Opción 1' },
            { id: '2', text: 'Opción 2' },
            { id: '3', text: 'Opción 3' }
        ]"
    ></app-text-message-box-select> -->
</div>
