<div class="chat-container">
    <div class="chat-messages">
        <div class="grid gap-y-2">
            <!-- Chat Messages -->
            <app-chat-message
                [text]="'Escribe el texto que desea que revise'"
            />

            <!-- Chat Messages -->
            @for (msg of messages(); track $index) {
            <!--  -->
            @if (msg.isGpt) {
            <!-- <app-chat-message [text]="msg.text" /> -->
            <app-message-orthography [infoMessage]="msg.infoGpt!" />
            } @else {
            <app-my-message [text]="msg.infoUser!.text!" />
            } }
            <!-- Loading -->
            @if (isLoading()) {
            <app-typing-loader />
            }
        </div>
    </div>

    <!-- Message Box -->
    <app-text-message-box
        (onMessage)="handleMessage($event)"
    ></app-text-message-box>

    <!-- <app-text-message-box-file
        (onMessage)="handleMessage($event)"
    ></app-text-message-box-file> -->

    <!-- <app-text-message-box-select
        (onMessage)="handleMessage($event)"
        [options]="[
            { id: '1', text: 'Opción 1' },
            { id: '2', text: 'Opción 2' },
            { id: '3', text: 'Opción 3' }
        ]"
    ></app-text-message-box-select> -->
</div>
